---
layout: default
---

<article class="post">
  <!-- Judul postingan -->
  <h1 class="post-title">{{ page.title }}</h1>

  <!-- Tanggal publikasi postingan -->
  <p class="post-date"><small>Published on {{ page.date | date: "%B %d, %Y" }}</small></p>

  <!-- Konten postingan -->
  <div class="post-content">
    {{ content }}
  </div>

  <hr class="post-divider"> <!-- Garis pemisah antara konten dan footer postingan -->

  <!-- Footer postingan -->
  <div class="post-footer">
    <!-- Kategori postingan -->
    <p class="post-categories">Posted in: {{ page.categories | join: ", " }}</p>

    <!-- Tag postingan -->
    <p class="post-tags">Tags: {{ page.tags | join: ", " }}</p>
  </div>
</article>
